<h1> SHOW ME THE 🚂</h1>

<p>NAME THAT TRAIN!<%= @train.name %></p>
<p> flashy -- <%= @train.color %></p>
<p>how fast tho? <%= @train.speed %></p>
<p>HOW cool is cool?<%= @train.cool? %></p>
<p>lots?<%= @train.cars %></p>
